*{
	margin: 0;
	padding: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear:after{
	display: block;
	content: '';
	clear: both;
}

ul,ul li{
	list-style: none;
}

.w{
	margin: 0 auto;
	width: 1200px;
}

/*公共样式   end*/

.nav{
	
}
